<h1>Listing emails</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Subject</th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.from %></td>
    <td><%= email.to %></td>
    <td><%= email.subject %></td>
    <td><%= link_to 'Show', email %></td>
  </tr>
<% end %>
</table>
